@charset "UTF-8";

:root {
    --azul-1:#0FC2C0;
    --azul-2:#0CABA8;
    --azul-3:#008F8C;
    --azul-4:#015958;
    --azul-5:#023535;
    
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--azul-1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 90vh;
    
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
}
header, footer {
    background: var(--azul-3);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100vw;
    margin-top: -10px;
}
main {
    background-color: white;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.completed {
    text-decoration: line-through;
    color: #888;
}
button.remove-btn {
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

button.remove-btn:hover {
    background-color: darkred;
}
footer a {
    text-decoration: none;
    color: white;
}